version: 2

updates:
  - package-ecosystem: pip
    directory: "/conformance/stable/sigstore-python"
    schedule:
      interval: daily
    labels:
      - "dependencies"
      - "matrix:stable"

  - package-ecosystem: gitsubmodule
    directory: "/conformance/nightly/cosign"
    schedule:
      interval: daily
    labels:
      - "dependencies"
      - "matrix:nightly"

  - package-ecosystem: gitsubmodule
    directory: "/conformance/nightly/sigstore-python"
    schedule:
      interval: daily
    labels:
      - "dependencies"
      - "matrix:nightly"
