# Requirements for the self test client sigstore-python-conformance
# Use a commit from main until 4.x release with support for SigningConfigv0.2 and rekorv2 is available
sigstore @ git+https://github.com/sigstore/sigstore-python.git@77c4b8c6c74bea6ba8221bf6bece53f86e4a3d83
