name: Self-test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "10 10 * * *"

jobs:
  selftest:
    strategy:
      matrix:
        include:
          - { sigstore-env: production, skip-cpython-release-tests: false }
          - { sigstore-env: production, skip-cpython-release-tests: true }
          - { sigstore-env: staging, skip-cpython-release-tests: false }
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          cache: "pip"

      - name: install sigstore-python
        run: pip install "sigstore >= 3.5.0, < 4.0"

      - name: conformance test sigstore-python
        uses: ./
        with:
          entrypoint: ${{ github.workspace }}/sigstore-python-conformance
          skip-cpython-release-tests: ${{ matrix.skip-cpython-release-tests }}
          environment: ${{ matrix.sigstore-env }}
          xfail: "test_verify_with_trust_root test_verify_dsse_bundle_with_trust_root"
