name: Self-test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "10 10 * * *"

permissions:
  contents: read

jobs:
  selftest:
    strategy:
      matrix:
        include:
          - { sigstore-infra: production, skip-cpython-release-tests: false }
          - { sigstore-infra: production, skip-cpython-release-tests: true }
          - { sigstore-infra: staging, skip-cpython-release-tests: false }
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.x"
          cache: "pip"

      - name: install sigstore-python
        run: |
          python3 -m venv selftest-env
          ./selftest-env/bin/python -m pip install --requirement selftest-requirements.txt

      - name: conformance test sigstore-python
        uses: ./
        with:
          entrypoint: ${{ github.workspace }}/sigstore-python-conformance
          skip-cpython-release-tests: ${{ matrix.skip-cpython-release-tests }}
          environment: ${{ matrix.sigstore-infra }}
          xfail: "test_verify*-intoto-with-custom-trust-root] test_verify*managed-key-happy-path] test_verify*managed-key-and-trusted-root]"
