name: Self-test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"

      - name: install sigstore-python
        # TODO: Remove this version pin once the 2.x series is released.
        run: pip install "git+https://github.com/sigstore/sigstore-python.git@ww/bump-protobuf-specs"

      - name: conformance test sigstore-python
        uses: ./
        id: sigstore-conformance
        with:
          entrypoint: ${{ github.workspace }}/sigstore-python-conformance
          internal-be-careful-debug: "true"
