name: Self-test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  get-token:
    uses: ./.github/workflows/reusable.yml

  selftest:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install sigstore-python
        run: pip install sigstore
      - name: conformance test sigstore-python
        uses: ./
        id: sigstore-conformance
        with:
          entrypoint: ${{ github.workspace }}/sigstore-python-conformance
